.alert.alert-success {
	padding-top: 0px;
	padding-bottom: 6px;
}

div.panel-heading {
	height: 40px;
}

div.panel-heading > h3 {
	padding: 10px 15px 10px 15px;
	font-size: 14px;
	font-weight: bold;
}

.panel-body {
	 padding: 0px 10px 0px 10px;
}
